.container{
    margin:50px o;
}

.card{
    margin:2% 3% !important ;
}

.infected{
    border: 12px solid #10375c;
    border-bottom: 12px solid white;
    

}
.recovered{
    border: 12px solid #b6eb7a ;
    border-bottom:12px solid white;
    
    
}
.deaths{
    border: 12px solid #e84545 ;
    border-bottom: 12px solid white ;
    
}
