.container{
    margin:50px o;
}

.card{
    margin:2% 3% !important ;
    background-color: #2a2438 !important;
    color:#f5f5f5 !important;
    transition: transform .3s;
}
.card:hover{
    transform: scale(1.2);
}

.infected{
    border: 12px solid #01BFFF;
    border-bottom-color: transparent;
    

}
.recovered{
    border: 12px solid #00FF7F;
    border-bottom-color: transparent;
    
    
}
.deaths{
    border: 12px solid #F32013 ;
    border-bottom-color:  transparent ;
    
}
